.car-details-component{
	width: 60%;
}
.car-details-component .car-details-content{
	margin: 50px;
}
.car-details{
	margin-top: 20px;
}
.car-details-content {
	width: 40%;
	margin: 50px 150px;
	padding: 0 40px;
	border-left: 2px solid #d7d7d7;
}
.car-tags p {
	border-bottom: 1px solid #e1e1e1;
	line-height: 30px;
	margin-bottom: 5px;
	color: #e1e1e1;
	font-weight: lighter;
}
.active p {
	color: #303030;
}
.car-button {
	/*background-color: #fff;*/
	border-color: #e95d4f;
    color: #e95d4f;
    width: 100px;
    margin-top: 20px;
    border-radius: 30px;
}
.create {
	color: #4182A7;
	border-color: #4182A7;
}

.add-car {
	margin-top: 30px;
}
.car-form input {
	border: none;
	border-bottom: 1px solid #e1e1e1;
	line-height: 30px;
	margin-bottom: 5px;
	width: 100%;
}
::-webkit-input-placeholder{
	color: #e1e1e1;
}
.car-form select:focus {
	outline: 0;
}
.car-error {
	border-bottom: 2px solid red;
	display: block;
}
