.react-toggle-track, .react-toggle react-toggle--checked, .react-toggle-screenreader-only{
  background-color: #ab199f;
  width: 200px;
  border-radius: 0;
}
.react-toggle-thumb{
	width: 100px;
	border-radius: 0;
}
