.profile-container{
  background-color: #303030;
  padding: 30px;
  width: 25%;
  position: absolute;
  top: 0;
  bottom: 30px;
}

.profile-picture {
	border-radius: 50%;
	border: 1px solid #fff;
	width: 80px;
	height: 80px;
	display: inline-block;
}

.user-name {
	color: #fff;
	font-size: 20px;
	display: inline-block;
	margin-left: 30px;
}