.fixed-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 30%;
	background-color: #303030;
	color: #4182a7;
	padding: 80px 40px;
}
.header .profile-pic-edit-link {
	width: 33.33%;
}
.header .profile-picture {
	border-radius: 50%;
	background-color: #fff;
	height: 100px;
	width: 100px;
}
.header .personal-details{
	width: 66.66%;
}
.personal-details .user-name {
	margin: 28px 0 0 5px;
	color: #fff;
	font-size: 22px;
}
.personal-details .react-rater-star{
	font-size: 20px;
	margin-top: -5px;
}
.personal-details .react-rater-star.is-disabled{
	color: #262626;
}
.personal-details .react-rater-star.is-active{
	color: #4182A7;
}
.personal-details .react-rater-star.is-active-half:before{
	color: #4182A7;
}
.personal-details .profile-rate{
	color: #000;
	display: inline-block;
	font-size: 14px;
	font-weight: lighter;
	margin-left: 10px;
}

.header .edit-link{
	display: block;
	color: #5d5d5d;
	border: 0;
	margin-left: 10px;
	margin-top: 8px;
	font-size: 11px;
}
.profile-links{
	border: 1px solid #4182A7;
	text-align: center;
	border-radius: 30px;
	height: 60px;
	line-height: 60px;
	font-weight: lighter;
	font-size: 12px;
	margin-top: 40px;
	padding: 5px 30px;
	color: #4182a7;
}
.profile-links + .profile-links {
	margin-left: 15px;
}
.profile-links:focus {
	text-decoration: none;
	background-color: #5d5d5d;
	color: #4182a7;
	border-color: #1C567E;
}
.contact-details {
	margin-top: 15px;
}
.points{
	text-align: center;
	width: 30%
}
.points span{
	font-size: 20px;
	display: block;
	line-height: 20px;
	margin-top: 10px;
}
.email-phone{
	border-left: 1px solid #5d5d5d;
	padding: 15px 0 0 30px;
	height: 60px;
	width:70%;
	line-height: 8px;
}
.user-profile-form {
	margin-top: 50px;
}
.user-profile-form legend{
	color: #d6a256;
	font-size: 12px;
}

.user-profile-form input {
	display: block;
	border: none;
	border-bottom: 1px solid #5d5d5d;
	line-height: 30px;
	margin-bottom: 20px;
	width: 240px;
	background-color: #303030;
}
::-webkit-input-placeholder{
	color: rgba(255,255,255,.1);
	font-weight: lighter;
	font-size: 12px;
}
.stripe button{
	border: 1px solid #d6a256;
	text-align: center;
	border-radius: 30px;
	background-color: #303030;
	height: 30px;
	font-weight: lighter;
	font-size: 12px;
	margin-top: 0;
	padding: 5px 20px;
	color: #d6a256;
}
.stripe button:focus{
	text-decoration: none;
	background-color: #5d5d5d;
	outline: 0;
}
.type-links {
	padding: 15px;
	position: absolute;
	text-align: center;
	bottom: 80px;
	left: 15%;
	width: 70%;
	background: #4182a7;
	border-radius: 8px;
}

.type-links .type-selected {
	padding: 10px 30px;
	border-radius: 3px;
	color: #5d5d5d;

}
.type-links .type-selected:focus{
	background: #fff;
	color:#4182a7;
	text-decoration: none;
}
