.fixed-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 33%;
	background-color: #303030;
	color: #4182a7;
	padding: 40px;
}
.header .profile-pic-edit-link {
	width: 33.33%;
}
.header .profile-picture {
	border-radius: 50%;
	background-color: #fff;
	/*border: 1px solid #fff;*/
	height: 100px;
	width: 100px;
}
.header .personal-details{
	width: 66.66%;
}
.personal-details h1 {
	margin: 15px 0 0 0;
}
.header .edit-link{
	display: block;
}
.profile-links{
	border: 1px solid #4182A7;
	/*margin: auto;*/
	text-align: center;
	border-radius: 30px;
	height: 60px;
	line-height: 60px;
	font-weight: lighter;
	font-size: 12px;
	margin-top: 40px;
	padding: 5px 30px;
	color: #4182a7;
}
.profile-links + .profile-links {
	margin-left: 15px;
}
.profile-links:focus {
	text-decoration: none;
	background-color: #5d5d5d;
	color: #1C567E;
	border-color: #1C567E;
}
.points{
		text-align: center;
		width: 25%
}
.points span{
	font-size:  20px;
	display: block;
}
.email-phone{
	border-left: 1px solid #4182a7;
	padding-left: 20px;
	width:75%;
}
.user-profile-form legend{
	color:#d6a256;
	font-size: 12px;
}
.user-profile-form input {
	display: block;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.3);
	line-height: 40px;
	margin-bottom: 20px;
	width: 250px;
	background-color: #303030;
}
::-webkit-input-placeholder{
	color: rgba(255,255,255,.3);
	font-weight: lighter;

}
.type-links {
	padding: 12px;
	margin:20px 0 0 0;
	width: 50%;
	background: #4182a7;
	border-radius: 5px;

}
.type-links .type-selected {
	padding: 10px;
	border-radius: 5px;
	color:#fff;

}
.type-links .type-selected:focus{
	background: #fff;
	color:#4182a7;
	text-decoration: none;
}

/*.profile-container a {
	color: #4182A7;
	text-decoration: none;
	border: 1px solid #4182A7;
	border-radius: 15px;
	padding: 3px 20px;
	font-size: 15px;
}
.profile-container .edit-link {
	color: grey;
	border: 0;
	margin-left: 10px;
	font-size: 11px;
}
.profile-picture {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-left: 10px;
	display: inline-block;
}
.user-name {
	color: #fff;
	font-size: 20px;
	display: inline-block;
	margin-top: 40px;
}
.profile-container .header div {
	float: left;
	width: 50%;
}
.header .profile-pic-edit-link p:first-child {
	position: fixed;
	left: 330px;
}
.header .profile-pic-edit-link p:first-child a {
	border: 0;
	color: grey;
	font-size: 13px;
}
.profile-container .notification-link {
	position: fixed;
	right: 20px;
	background-color: #4182A7;
	color: white;
	padding: 5px;
}
.profile-container .profile-content footer {
	position: fixed;
	bottom: 70px;
	margin: auto;
	left: 30px;
	right: 10px;
}
.profile-container .profile-content footer a {
	border-radius: 0;
	padding: 10px 30px;
	background-color: #4182A7;
	color: white;
	font-size: 20px;
}
.profile-container .profile-content footer a:first-child {
	border-right: 1px solid white;
}
.profile-container .profile-content footer a:focus {
	background-color: white;
	color: #4182A7;
	text-decoration: none;
}
.profile-container .profile-links {
	line-height: 70px;
}
.profile-container .profile-links a + a {
	margin-left: 8px;
}
.profile-container .profile-links a:focus {
	text-decoration: none;
	background-color: grey;
	color: #1C567E;
	border-color: #1C567E;
}
.profile-container .contact-details {
	margin-top: 15px;
	height: 90px;
}
.profile-container .contact-details > p {
	width: 30%;
	float: left;
	font-size: 20px;
	text-align: center;
}
.profile-container .contact-details > p span {
	display: block;
	text-align: center;
	margin-bottom: -5px;
}
.profile-container .contact-details div {
	display: inline-block;
	float: left;
	border-left: 1px groove #989898;
	width: 60%;
}
.profile-container .contact-details .email-phone p {
	margin-left: 15px;
}
.profile-container .contact-details .email-phone p:first-child {
	margin-top: 8px;
	margin-bottom: -1px;
}
.profile-content form {
	margin-top: 10px;
}
.profile-content form legend {
	font-size: 15px;
	margin-bottom: 15px;
}
.profile-content form input {
	display: block;
	border: none;
    border-bottom: 2px solid rgba(255,255,255,.3);
	background-color: #303030;
	line-height: 30px;
	margin-bottom: 20px;
	float: left;
	margin-top: 25px;
	width: 60%;
}
.profile-content .StripeCheckout {
	float: right;
	margin-top: 30px;
	font-size: 12px;
	width: 30%;
}
.profile-content .StripeCheckout > span {
	padding: 0px 7px !important;
	font-size: 11px !important;
}*/