
.profile-container{
  background-color: #303030;
  width: 32%;
  float: left;
  color: #4182A7;
  height: 624px;
  /*overflow: auto;*/
 /* padding: 30px;*/
  /*top: 0;
  bottom: 30px;*/
}
.profile-container a{
	color: #4182A7;
	text-decoration: none;
	border: 1px solid #4182A7;
	border-radius: 15px;
	padding: 3px 20px;
	font-size: 15px;
}
.profile-container .edit-link{
	color: white;
	border: 0;
	font-size: 10px;
}
.profile-picture {
	border-radius: 50%;
	border: 1px solid #fff;
	width: 80px;
	height: 80px;
	display: inline-block;
}
.user-name {
	color: #fff;
	font-size: 20px;
	display: inline-block;
}
.clearfix::before,
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.profile-container .header div{
	float: left;
}
.profile-pic-edit-link{
	width: 30%;
}
.profile-container .notification-link{
	position: fixed;
	right: 20px;
	background-color: #4182A7;
	color: white;
	padding: 5px;
}

