.trip-form {
    margin: 50px 200px;
    padding: 0 40px;
    border-left: 2px solid #d7d7d7;
}
.location-details {
    display: flex;
    flex-direction: row;
}
.submit-form {
    background-color: #fafafa;
    color: #4182A7;
    width: 100px;
    margin-top: 40px;
}
.empty-message{
    /*display: block;*/
    margin: 50px 200px;
    padding: 0 40px;
    border-left: 2px solid #d7d7d7;
}
