.open-modal {
    padding: 10px 20px;
    color: #4182A7;
    background-color: white;
    border: 1px solid #4182A7;
    border-radius: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: rgb(247, 238, 238);
    text-align: center;
    color: black;
    z-index: 1;
    border: 2px solid rgb(82, 72, 72);
    height: 300px;
    width: 300px;
    float:right;
}

.driver-profile-picture {
	background-color: #d7d7d7;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	margin: 0 auto;
	/*float: left;*/
}

.driver-name {
    margin: 10px 0;
}