.tabs {
	float: left;
}
.trip {
	height: 200px;
/*	width: 800px;*/
	border: 1px solid #d7d7d7;
	border-radius: 100px;
	float: left;
	position: relative;
/*	margin-left: 300px;*/
	color: #434343;
	background-color: #fafafa;
	margin-bottom: 80px;
	padding: 40px;
}
.trip + .trip {
	margin-top: 10px ;
}
.driverTripsTracking{
	float: left;
	display: inline-block;
	width: 60%;
	margin-left: 5%;
}
.driver-profile-picture {
	background-color: #d7d7d7;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	/*position: absolute;*/
	float: left;
	/*margin-left: 40px;*/
	/*margin-top: 40px;*/
	/*left: 40px;
	top: 40px;*/
}
.trip-container {
	height: 120px;
	margin-left: 40px;
	/*position: absolute;*/
	float: left;
	/*left: 200px;*/
	/*top: 40px;*/
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	width: 400px;
	padding: 0 10px;
}
.flex {
	display: flex;
	justify-content: space-between;
}
.driver-name {
	text-transform: capitalize;
	font-size: 18px;
	color: #4182A7;
}
.day {
	font-size: 16px;
	color: rgba(48,48,48,.6);
}
.car-model {
	text-transform: capitalize;
	font-size: 10px;
	margin-top: -20px;
	color: rgba(48,48,48,.6);
}
.car-number {
	text-transform: uppercase;
	font-size: 10px;
	margin-top: -10px;
	color: rgba(48,48,48,.6);
}
.stop-points {
	display: flex;
	flex-direction: column;
}
.stop-points .location {
	text-transform: capitalize;
	font-size: 10px;
	margin-bottom: 8px;
}

.stop-points .time {
	font-size: 10px;
	margin-top: 8px;
	color: rgba(48,48,48,.6);
}
.stop-points .time ~ .time {
	margin-top: -10px;
}
.route {
	width: 350px;
	position: absolute;
	left: 225px;
	top: 108px;
}
.ant-slider-step {
	background-color: #4182A7;
}
.ant-slider-disabled {
	cursor: auto;
}
.ant-slider-disabled .ant-slider-handle, .ant-slider-disabled .ant-slider-dot{
	cursor: auto;
}
.status-button {
	/*display: block;*/
	/*position: absolute;*/
	/*left: 110px;*/
	/*bottom: -40px;*/
	float: left;
	background-color: #fafafa;
	/*margin-top: 60px;*/
	/*margin-left: 60px;*/
	color: #4182A7;
	margin-left: 20px;
	margin-top: 10px;
	width: 100px;
}
.status-button ~ .status-button {
	/*margin-left: 15px;*/
	color: #e95d4f;
}

.car-container {
	/*position: absolute;*/
	float: left;
	margin-left: 20px;
	/*margin-top: 10px;*/
	/*right: 50px;*/
	/*top: 40px;*/
	/*float: right;*/
	/*width: 120px;*/
}
.seats {
	margin: 0;
	margin-top: 5px;
	font-weight: bold;
	color: rgba(48,48,48,.6);
	font-size: 11px;
}
.pending-status button {
	width: 150px;
	background-color: #fafafa;
	margin-top: 10px;
	margin-left: -60px;
}
.pending {
	font-weight: bold;
	/*margin: 10px 5px;*/
	/*margin-top: 5px;*/
	color: #e95d4f;
	font-size: 11px;
}
.no-pending {
	font-weight: bold;
	font-size: 11px;
	color: #4182A7;

}
/*.circle {
	background-color: #fff;
	border: 1px solid #434343;
	height: 50px;
	width:50px;
	border-radius: 50%;
	display: inline-block;
	margin: 3px;
	text-align: center;
	line-height: 50px;
}*/
.request {
	/*height: 35px;*/
	/*display: flex;*/
	/*flex-direction: row;*/
	/*justify-content: flex-start;*/
	/*margin-top: 40px;*/
/*	position: absolute;
	left: 100px;
	top: 210px;*/
	/*margin-left: 60px;*/
	/*width: 120px;*/
	/*display: inline-block;*/
}

.hh-profile-picture {
	background-color: #d7d7d7;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	margin: 0 auto;
	/*float: left;*/
}
.hh-details {
	margin-top: 20px;
	font-weight: bold;
	color: rgba(48,48,48,.6);
	font-size: 11px;
	margin-top: 20px;
	margin-bottom: 40px;
}
.hh-details ~ .hh-details {
	margin-top: -35px;
}
.hh-phone {
	margin-top:
}
.hh-email {
	color: #4182A7;
	text-transform: lowercase;
	font-weight: normal;
}
.circle-button {
	/*float: left;*/
	background-color: black;
	border: 1px solid #434343;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	/*margin-top: 40px;*/
	/*margin-left: 400px;*/
}
.accepted {
	font-size: 11px;
	color: #4182A7;
	position: absolute;
	bottom: 50px;
	font-weight: bold;
	margin-top: 30px;
}
.rejected {
	font-size: 11px;
	color: #e95d4f;
	position: absolute;
	bottom: 50px;
	font-weight: bold;
	margin-top: 30px;
}
.ant-btn-primary {
	background-color: #4182A7;
	border-color: #4182A7;
}
.ant-modal-header, .ant-modal-footer {
	background-color: #fafafa;
}