.margin{
	width: 100%;
	margin-top: 80px;
}
.new-container{
	width:66.66%;
}
.trip {
	height: 200px;
	width:700px;
	border: 1px solid #d7d7d7;
	border-radius: 100px;
	position: relative;
	color: #434343;
	background-color: #fafafa;
	margin-bottom: 80px;
	padding: 40px;
	margin-top: 10px;
}
.driver-profile-picture {
	background-color: #d7d7d7;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	margin: 0 auto;
	/*float: left;*/
}
.driver-name {
    margin: 10px 0;
}
.trip + .trip {
	margin-top: 0;
}
.tabs-container{
	width: 15%;
}
.driver-container{
    margin-left: -5px;
    margin-right: 10px;
	width: 120px;
}
.seats-container{
	width: 120px;
	margin-left: 10px;
    margin-right: -5px;
}
.details-container{
	margin-right: 10px;
	margin-left: 10px;
	width: 360px;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	height: 120px;
	padding: 0 10px;
}
.flex {
	display: flex;
	justify-content: space-between;
}
.trip-driver-name {
	text-transform: capitalize;
	font-size: 18px;
	color: #4182A7;
}
.date {
	font-size: 16px;
	color: rgba(48,48,48,.6);
}
.car-model {
	text-transform: capitalize;
	font-size: 10px;
	margin-top: -20px;
	color: rgba(48,48,48,.6);
}
.car-number {
	text-transform: uppercase;
	font-size: 10px;
	margin-top: -10px;
	color: rgba(48,48,48,.6);
}
.stop-points-details{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.stop-point {
	display: flex;
	flex-direction: column;
}
.stop-point .location {
	text-transform: capitalize;
	font-size: 10px;
	margin-bottom: 8px;
}

.stop-point .trip-time {
	font-size: 10px;
	margin-top: 8px;
	color: rgba(48,48,48,.6);
}
.stop-point .trip-time ~ .trip-time {
	margin-top: -10px;
}
.trip-seats {
	margin: 2px 0 0 0;
	font-weight: bold;
	color: rgba(48,48,48,.6);
	font-size: 11px;
}
.pending {
	font-weight: bold;
	color: #e95d4f;
	font-size: 11px;
}
.no-pending {
	font-weight: bold;
	font-size: 11px;
	color: #4182A7;
}
.circle-button {
	/*background-color: #fff;*/
	border: 1px solid #434343;
	height: 45px;
	width:45px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	margin: 0 0 5px 5px;
}
.circle-button {
	height: 45px;
	width:45px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	/*margin: 0 0 5px 5px;*/
}
.circle-button:focus{
	outline: none
}
.empty {
	cursor: not-allowed;
}
.request {
	font-size: 20px;
	color: #e95d4f;
}
.request i {
	animation: blinker 1s linear infinite;
}
.seats-details{
	padding: 10px;
}
.car-container{
	display: flex;
	flex-flow: row wrap;
}
.car-container > *{
	padding-left: 5px
}
.route {
	width: 314px;
	position: absolute;
	left: 195px;
	top: 114px;
}
.status-button {
	background-color: #fafafa;
	color: #e95d4f;
	position: absolute;
	top: 215px;
	left: 70px;
	width: 100px;
}
.status-button ~ .status-button {
	/*margin-left: 15px;*/
	color: #4182A7;
	position: absolute;
	left: 185px;
}
.rate-button {
	position: absolute;
	top: 215px;
	left: 70px;
	/*width: 100px;*/
	background-color: #fafafa;
	color: #e95d4f;
}
.hh-profile-picture {
	background-color: #d7d7d7;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	margin: 0 auto;
	/*float: left;*/
}
.accepted {
	font-size: 11px;
	color: #4182A7;
	position: absolute;
	bottom: 50px;
	font-weight: bold;
	margin-top: 30px;
}

.ant-slider-step {
	background-color: #4182A7;
}
.ant-slider-disabled {
	cursor: auto;
}
.ant-slider-disabled .ant-slider-handle, .ant-slider-disabled .ant-slider-dot{
	cursor: auto;
}