.location {
	padding-top: 5px;
}
.flex {
	display: flex;
	justify-content: column;
}
.flex-row{
	display: flex;
	justify-content: row;
}
.stop_point {
	width: 50%;
}

.new-stop {
	background-color: #fafafa;
    color: #4182A7;
    width: 130px;
    margin-top: 20px;
    display: block;
}
#day {
	width: 150px;
	margin-top: 20px;
	display: block;
}
.new-stop:hover {
	color: #4182A7;
}

.new-stop:visited {
	border: 0;
	background-color: white;
	color: #4182A7;
}

.title {
	font-size: 12px;
	margin-right: 70px;
}

.calender {
	width: 100%;
	padding-left: 180px;
}

.calender-input {
	border: 0;
	border-bottom: 1px solid rgb(163, 150, 150);
}

.day {
	width: 70%;
}

.car-details {
	margin: 0 auto;
	vertical-align: center;
}

.car-booking {
	width: 100%;
	text-align: center;
	padding-right: 170px;
}

.button-box {
	text-align: center;
	vertical-align: center;
	margin: 0 auto;
}

.button {
	padding: 10px 70px;
	background-color: white;
	color: #4182A7;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #4182A7;
	border-radius: 20px;
}

.small {
	font-size: 9px;
}

.seats {
	background-color: white;
	border: 0;
	border-bottom: 1px solid #e1e1e1;
	/*-webkit-appearance: none;*/
    /*-webkit-border-radius: 0px;*/
    /*background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15' height='15' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");*/
    /*background-position: 100% 50%;*/
    /*background-repeat: no-repeat;*/
    line-height: 40px;
    width: 150px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.label { 
	margin-right: 10px;
}

.inline {
	display: inline-table;
}

.flex-boxing {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.flex-child {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	vertical-align: middle;
} 
