.ant-carousel .slick-slide {
    text-align: center;
    height: 96vh;
    line-height: 160px;
    overflow: hidden;
}
.ant-carousel .slick-slide h3 {
    color: #fff;
}
.image {
    height: 100vh;
    background-image: url(../../ali_baba_1.jpg);
    background-size: cover;
	background-position: center;
}
.image h1 {
	font-size: 250px;
	margin-top: 20%;
	font-weight: bolder;
	color: #418cb6c2;
}
.image2{
	height: 100vh;
    background-image: url(../../ali_baba_2.jpg);
	background-size: cover;
	background-position: center;
}
.image3{
	height: 100vh;
    background-image: url(../../ali_baba_3.jpg);
    background-size: cover;
	background-position: center;
}