.App {
  font-style: Helvetica, sans-serif;
/*  padding: 30px;*/
}

.footer {
  background-color: #303030;
  height: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  font-weight: lighter;
  font-size: 12px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-link ~ .footer-link {
  margin-left: 30px;
}

.copyrights {
  color: #fff;
}

.social-media {
  text-decoration: none;
  color: #fff;
}

.social-media ~ .social-media {
  margin-left: 30px;
}