.App {
  font-style: Helvetica, sans-serif;
  height: 100%;
/*  overflow: auto;*/
}
.App > .header{
  float: right;
  margin-top: 20px;
}
.nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 200px;
}
.nav-link:hover {
  color: #418cb6;
}
.user-nav-link {
  margin-right: 200px;
  color: #434343;
  text-transform: uppercase;
  font-weight: bold;
}
.footer {
  background-color: #434343;
  height: 30px;
  margin-top: -30px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  font-weight: lighter;
  font-size: 12px;
  z-index: 1000;
}
.footer-link {
  color: #fff;
}
.footer-link ~ .footer-link {
  margin-left: 30px;
}
.copyrights {
  color: #fff;
  margin-left: -180px;
}
.social-media {
  text-decoration: none;
  color: #fff;
}
.social-media ~ .social-media {
  margin-left: 30px;
}

.clearfix::before, .clearfix::after {
  display: table;
  content: '';
  clear: both;
}