body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
*{
	box-sizing: border-box;
}
body, html, #root, .App{
	height: 100%;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
button{
	cursor: pointer;
}
button:focus {
	outline: 0;
	box-shadow: 0 0 3px rgba(48,48,48,.3);
}
input{
	border: none;
    border-bottom: 2px solid rgba(255,255,255,.3);
	line-height: 40px;
	margin-bottom: 25px;
}
input:focus{
    outline: 0;
}
input:-webkit-autofill {
	border: $border-style !important;
	background-color: blue !important;
	-webkit-box-shadow: 0 0 0px 10px $c-blue inset;
	-webkit-text-fill-color: #303030 !important;
	transition: background-color 5000s ease-in-out 0s;
}
.start{
	float: left;
}
.end{
	float: right;
}
.hide{
	display: none;
}
.capital {
	text-transform: capitalize;
}
.clearfix::before,
.clearfix::after {
  display: table;
  content: '';
  clear: both;
}
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}